body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    background-image: url("4317845.jpg");
    text-align: center;
    
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 10px;
    margin-top: 2px;
}

button {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    margin-bottom: 40px;
    margin-left: 20px;
}

/* Style the button according to the provided design */

#delete-btn {
    background: white;
    color: crimson;
    padding: 10px 20px;
    border: 1px solid crimson;
    font-weight: bold; 
}

ol {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 3px;
    margin-bottom: 25px;
    text-align: left;
    margin-left: 28px;
    font-size: 20px;
}

/*a {
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
}*/
.icon{
    color:#81c7e8;
    margin-left: 50px;
}
#clock {
    font-size: 15px;
    width: 100px;
    height: 20px;
    margin-top: -46px;
    margin-bottom: 30px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #5f9341;
  }